*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(98, 98, 154);
}
#card{
    border-radius: 10px;
    height: 600px;
    width:400px;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0px;
}
#card h5{
    font-size: 25px;
    color: red;
    margin-bottom: 40px;
}
#card button{
    background-color: rgb(239, 158, 158);
    color: white;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#card #remove{
    background-color: #dadada;
    color: black;
}